/node_modules
/public/hot
/staging
/public/phpMyAdmin-5.1.0-english/
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/storage
/public/backend/images/blogs/
/public/backend/images/cms/
/public/frontend/cover_letters_pdf
/public/frontend/images/slider/
/public/frontend/images/avatar/
/public/frontend/images/cover_letters/
/public/frontend/images/cover-letter-example/
/public/frontend/images/email-cover-letter/
/public/frontend/images/email-sample/
/public/frontend/images/resume_templates/
/public/frontend/resume_pdf/
/public/frontend/images/profile_pictures/
/public/frontend/images/user_profiles/
/public/frontend/images/user_resumes/
/public/frontend/images/user_resumes_pdf/
/public/frontend/images/course/
/public/backend/images/course/
/public/frontend/images/user_cover_letters/
