// Font family
$font-base: 		'Poppins', sans-serif;
$font-heading:  'Poppins', sans-serif;

// Colors
$body-color:		#969696;
$primary:				#07689f;
$white:					#ffffff;


$gray-1: 				#f6f6f6; 	// bg light
$gray-2: 				#dfdfdf;
$gray-3: 				#969696; 	// main text
$gray-4: 				#626262;	// lable color
$gray-5: 				#3a4957;
$gray-6: 				#293745;
$gray-7: 				#1d2936;
$gray-8: 				#1d2936; 	// Hedding color
$gray-9: 				#1d2936; 	// bg color

$black:  				#000000;

$green:  				#53b427;
$red:  				 	#e74c3c;
$blue:					#0070cd;
$orange:				#ffc107;

$border-color: 	#eeeeee;

$border-radius: 3px;


// blue shades

$blue-1:                #89caff;
$blue-2:                #99d1ff;
$blue-3:                #b5deff;
$blue-4:                #c6e5ff;
$blue-5:                #dcefff;
